<div class="slide-down position-absolute pefil-container bg-white shadow rounded-3  p-2 mt-3">
    
        <a class="text-black text-decoration-none" href="app/perfil"><p class="ps-4 d-flex justify-content-end align-items-center small" >Perfil <i class=" ps-2 bi bi-person"></i></p></a>
        <p class="ps-4 d-flex justify-content-end align-items-center small">Balance <i class=" ps-2 bi bi-wallet"></i></p>
        <p class="ps-4 d-flex justify-content-end align-items-center small">Chats <i class=" ps-2 bi bi-chat"></i></p>
        <p class="ps-4 d-flex justify-content-end align-items-center small">Configuración <i class=" ps-2 bi bi-gear"></i></p>
        <p class="pb-2 border-top border-bottom mt-3 pt-1 d-flex justify-content-end align-items-center small">Disponibilidad <i class="ps-2 bi bi-toggle-on"></i></p>
    <p class=" d-flex justify-content-end align-items-center small">Cerrar Sesión <i class=" ps-2 bi bi-box-arrow-right"></i></p>
</div>
