<div class="container  px-3 mt-3 mb-3 py-3">
    <div class="row gap-3 align-items-stretch ps-4  ">
        
      <div class="tamaño-texto-caja1 col-xl-3 col-md-5 col-10 order-xl-0 order-md-1 order-2 border border-light-subtle rounded-3 py-4 px-3 bg-white shadow d-flex flex-column h-100">
        <div class="d-flex justify-content-between align-items-center pb-3 ">
          <i class="bi bi-three-dots-vertical h4"></i>
          <p class="h6 small text-end mb-0 flex-grow-1 text-center">Visit By Traffic Types</p>
          <i class="bi bi-arrow-counterclockwise h4"></i>
        </div>
        <div class="justify-content-center  px-3">
          <app-graphic-primera-caja></app-graphic-primera-caja>
        </div>
        <div class="row border-bottom">

            <div class="col-5 d-flex align-items-center justify-content-center">
                <i class="bi bi-graph-up h2"></i>
            </div>
            <div class="col-7 py-3 text-end">
                <p class=" fw-bold">Organic 44.46% <i style="color: blue;" class="bi bi-square-fill"></i></p>
                <p class="text-muted mb-0">visits 356</p>
              </div>
        </div>
        <div class="row border-bottom">

            <div class="col-5 d-flex align-items-center justify-content-center">
                <i class="bi bi-graph-up h2"></i>
            </div>
            <div class="col-7 py-3 text-end">
                <p class=" fw-bold">Referral 5.54% <i style ="color: green;" class="bi bi-square-fill "></i></p>
                <p class="text-muted mb-0">visits 36</p>
              </div>
        </div>
        <div class="row">

            <div class="col-5 d-flex align-items-center justify-content-center">
                <i class="bi bi-graph-up h2"></i>
            </div>
            <div class="col-7 py-3 text-end">
                <p class=" fw-bold">Other 50%  <i style="color: yellow;" class="bi bi-square-fill "></i></p>
                <p class="text-muted mb-0">visits 245</p>
              </div>
        </div>
      </div>
  
      <!-- Segunda Caja -->
      <div class="tamaño-texto-caja1 col-xl-3 col-md-5 col-10 order-xl-1 order-md-2 order-1 border border-light-subtle rounded-3 py-4 px-3 bg-white shadow d-flex flex-column h-100">
        <div class="border-bottom pb-3 text-center">
          <h6 class="fw-bold">CUSTOMER SATISFACTION</h6>
          <h1 class="text-success fw-bold py-3">93.13%</h1>
          <div class="progress" style="height: 10px;">
            <div class="progress-bar bg-success" role="progressbar" style="width: 93%"></div>
          </div>
        </div>
        <div class="row d-flex align-items-center justify-content-between py-3">
          <div class="col text-center">
            <p class="text-muted">Trend</p>
            <p><i class="bi bi-arrow-up-right"></i></p>
          </div>
          <div class="col text-center">
            <p class="text-muted">Change %</p>
            <p class="fw-bold">14.29+</p>
          </div>
          <div class="col text-center">
            <p class="text-muted">Previous</p>
            <p class="fw-bold">79.82</p>
          </div>
        </div>
  
        <div class="border-top pt-3 flex-grow-1">
          <div class="d-flex justify-content-between align-items-center pb-3 border-bottom">
            <i class="bi bi-x h4"></i>
            <p class="h5 text-center flex-grow-1 mb-0">Browser Stats</p>
            <i class="bi bi-arrow-bar-down h4"></i>
          </div>
          <div class="py-3 d-flex justify-content-between align-items-center border-bottom">
            <p class="rounded-3 bg-warning text-white px-2 mb-0">50%</p>
            <p class="h5 text-end flex-grow-1 mb-0">Google Chrome</p>
          </div>
          <div class="py-3 d-flex justify-content-between align-items-center border-bottom">
            <p class="rounded-3 bg-primary text-white px-2 mb-0">10%</p>
            <p class="h5 text-end flex-grow-1 mb-0">Mozilla Firefox</p>
          </div>
          <div class="py-3 d-flex justify-content-between align-items-center border-bottom">
            <p class="rounded-3 bg-success text-white px-2 mb-0">30%</p>
            <p class="h5 text-end flex-grow-1 mb-0">Internet Explorer</p>
          </div>
          <div class="py-3 d-flex justify-content-between align-items-center">
            <p class="rounded-3 bg-info text-white px-2 mb-0">10%</p>
            <p class="h5 text-end flex-grow-1 mb-0">Safari</p>
          </div>
        </div>
      </div>
  
      <!-- Tercera Caja -->
      <div class="col-xl-5 col-12 order-xl-2 order-0 border border-light-subtle rounded-3 py-4 px-3 bg-white shadow d-flex flex-column h-100">
        <div class="d-flex align-items-center justify-content-center flex-grow-1">
          <h5 class="text-center mb-0">Tercera Caja</h5>
        </div>
        <div>
          <app-graphic-tercera-caja></app-graphic-tercera-caja>
          <app-graphic-segunda-caja></app-graphic-segunda-caja>
        </div>
      </div>
  
    </div>
    <div class="row px-3 position-relative mt-3 mb-3 py-3 column-gap-4 row-gap-4 justify-content-center graphic-container">

      <div class="col-xl-3 col-md-5 col-12 order-xl-0 order-md-1 order-2 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
        <app-graphic-primera-caja3></app-graphic-primera-caja3>
      </div>
      <div class="col-xl-3 col-md-6 col-12 order-xl-1 order-md-2 order-1 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
        <app-graphic-segunda-caja3></app-graphic-segunda-caja3>
      </div>
      <div class="col-xl-5 col-12 border order-xl-2 order-0 border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
        <app-graphic-tercera-caja3></app-graphic-tercera-caja3>
      </div>
    
    </div>
    
  </div>
