<!--<div class="row justify-content-center align-items-center">-->
    <!--<div class="col-xl-3 col-md-5 col-12 shadow rounded-3 py-3 px-4 bg-primary">Primera Caja </div>-->
     <!--<div class="col-xl-3 col-md-5 col-12 shadow rounded-3 py-3 px-4 bg-suscess">Primera Caja </div>-->
     <!--<div class="col-xl-3 col-md-5 col-12 shadow rounded-3 py-3 px-4 bg-wearing">Primera Caja </div>-->
    <!-- <div class="col-xl-3 col-md-5 col-12 shadow rounded-3 py-3 px-4 bg-danger">Primera Caja </div>-->
 <!--</div>-->

 <div class="stats-container mt-4 mb-3 px-3">
    <div class="shadow rounded-3 py-3 px-4 bg-info d-flex flex-nowrap align-items-center justify-content-around column-gap-2">
    <div class="text-white">
        <i class="h1 bi bi-bar-chart-fill"></i>
    </div>
        <div class="text-white">
            <p class="mb-0 d-flex flex-column align-items-center justify-content-center">
                <span class="h4">46.41%</span>
                <span class="h6">growth rate</span>
            </p>
        </div>
    </div>

    <div class="shadow rounded-3 py-3 px-4 bg-success d-flex flex-nowrap align-items-center justify-content-around column-gap-2">
        <div class="text-white">
            <i class="h1 bi bi-file-earmark-text"></i>
        </div>
            <div class="text-white">
                <p class="mb-0 d-flex flex-column align-items-center justify-content-center">
                    <span class="h4">4,054,876</span>
                    <span class="h6">pageviews</span>
                </p>
            </div>
        </div>

        <div class="shadow rounded-3 py-3 px-4 bg-warning d-flex flex-nowrap align-items-center justify-content-around column-gap-2">
            <div class="text-white">
                <i class="h1 bi bi-arrow-90deg-right"></i>
            </div>
                <div class="text-white">
                    <p class="mb-0 d-flex flex-column align-items-center justify-content-center">
                        <span class="h4">46.41%</span>
                        <span class="h6">bounce rate</span>
                    </p>
                </div>
        </div>
        <div class="shadow rounded-3 py-3 px-4 bg-danger d-flex flex-nowrap align-items-center justify-content-around column-gap-2">
            <div class="text-white">
                <i class="h1 bi bi-people"></i>
            </div>
                <div class="text-white">
                    <p class="mb-0 d-flex flex-column align-items-center justify-content-center">
                        <span class="h4">914,001</span>
                        <span class="h6">visits </span>
                    </p>
                </div>
            </div>
    </div>
