<div class="stats-container mt-4 mb-3 px-3">
    <div class="stat-card bg-info">
        <i class="h1 bi bi-bar-chart-fill text-white"></i>
        <div class="text-white text-center">
            <p class="h4 mb-0">46.41%</p>
            <p class="h6">Growth Rate</p>
        </div>
    </div>
    <div class="stat-card bg-success">
        <i class="h1 bi bi-file-earmark-text text-white"></i>
        <div class="text-white text-center">
            <p class="h4 mb-0">4,054,876</p>
            <p class="h6">Pageviews</p>
        </div>
    </div>
    <div class="stat-card bg-warning">
        <i class="h1 bi bi-arrow-90deg-right text-white"></i>
        <div class="text-white text-center">
            <p class="h4 mb-0">46.41%</p>
            <p class="h6">Bounce Rate</p>
        </div>
    </div>
    <div class="stat-card bg-danger">
        <i class="h1 bi bi-people text-white"></i>
        <div class="text-white text-center">
            <p class="h4 mb-0">914,001</p>
            <p class="h6">Visits</p>
        </div>
    </div>
</div>
