<div class="slide-down position-fixed slide-right-to-left ajustes-container bg-white shadow-sm rounded-3 p-2 mt-3"> 
  <div class="w-100 h-100 overflow-y-auto overflow-x-hidden">
    <div class="row border-bottom pb-0">
      <p class="col-4 d-flex justify-content-center text-muted small">Todo</p>
      <p class="col-4 d-flex justify-content-center text-muted small">Mensajes</p>
      <p class="col-4 d-flex justify-content-center text-muted small">Chat</p>
  </div>

  <div class="chat">
      <div>
          <div class="row border-bottom ">
              <p class=" col-4 d-flex  justify-content-center align-items-center fs-4"><i class=" bi bi-plus "></i></p>
              <p class="col-4 d-flex justify-content-center  align-items-center">Users</p>
              <p class=" col-4 d-flex  justify-content-center align-items-center"><i class=" bi bi-three-dots "></i></p>
          </div>
          <div class="w-75 position-relative rounded-pill overflow-hidden search-container mx-auto pt-3 border-bottom"> <!-- buscador -->
              <i class="bi bi-search position-absolute icon-search bg-white d-flex align-items-center justify-content-center"></i>
              <input type="text" class="form-control w-100 text-end" placeholder="Buscar..">
          </div> <!-- // fin-buscador -->

          <div class="message-container  pt-3">
              <div class="item-message m-auto position-relative">
                <div class="content-item">
                  <h2 class="h6 mb-1 text-end fw-bolder">Sandy Doe 1</h2>
                  <p class="mb-0 text-muted small text-end">{{ "lorem ipsum dolor sit amet consectetur adipisicing elit"|truncateText }}</p>
                </div>
                <div class="icon-item d-flex align-items-center justify-content-center">
                  <i class="bi bi-flag-fill text-white"></i>
                </div>
              </div>
            </div>
            <div class="message-container segundo-mensaje pt-3">
              <div class="item-message m-auto position-relative">
                <div class="content-item">
                  <h2 class="h6 mb-1 text-end fw-bolder">Sandy Doe 2</h2>
                  <p class="mb-0 text-muted small text-end">{{ "lorem ipsum dolor sit amet consectetur adipisicing elit"|truncateText }}</p>
                </div>
                <div class="icon-item d-flex align-items-center justify-content-center">
                  <i class="bi bi-flag-fill text-white"></i>
                </div>
              </div>
            </div>
            <div class="message-container tercero-mensaje pt-3">
              <div class="item-message m-auto position-relative">
                <div class="content-item">
                  <h2 class="h6 mb-1 text-end fw-bolder">Sandy Doe 3</h2>
                  <p class="mb-0 text-muted small text-end">{{ "lorem ipsum dolor sit amet consectetur adipisicing elit"|truncateText }}</p>
                </div>
                <div class="icon-item d-flex align-items-center justify-content-center">
                  <i class="bi bi-flag-fill text-white"></i>
                </div>
              </div>
            </div>
            <div class="message-container pt-3 cuarto-mensaje">
              <div class="item-message m-auto position-relative">
                <div class="content-item ">
                  <h2 class="h6 mb-1 text-end fw-bolder ">Sandy Doe 4</h2>
                  <p class="mb-0 text-muted small text-end">{{ "lorem ipsum dolor sit amet consectetur adipisicing elit"|truncateText }}</p>
                </div>
                <div class="icon-item d-flex align-items-center justify-content-center">
                  <i class="bi bi-flag-fill text-white"></i>
                </div>
              </div>
            </div>
            <div class="message-container pt-3 quinto-mensaje">
              <div class="item-message m-auto position-relative">
                <div class="content-item">
                  <h2 class="h6 mb-1 text-end fw-bolder ">Sandy Doe 5</h2>
                  <p class="mb-0 text-muted small text-end">{{ "lorem ipsum dolor sit amet consectetur adipisicing elit"|truncateText }}</p>
                </div>
                <div class="icon-item d-flex align-items-center justify-content-center">
                  <i class="bi bi-flag-fill text-white"></i>
                </div>
              </div>
            </div>
            <div class="message-container pt-3 sexto-mensaje">
              <div class="item-message m-auto position-relative">
                <div class="content-item">
                  <h2 class="h6 mb-1 text-end fw-bolder">Sandy Doe 6</h2>
                  <p class="mb-0 text-muted small text-end">{{ "lorem ipsum dolor sit amet consectetur adipisicing elit"|truncateText }}</p>
                </div>
                <div class="icon-item d-flex align-items-center justify-content-center">
                  <i class="bi bi-flag-fill text-white"></i>
                </div>
              </div>
            </div>
            <div class="message-container pt-3">
              <div class="item-message m-auto position-relative">
                <div class="content-item">
                  <h2 class="h6 mb-1 text-end fw-bolder">Sandy Doe</h2>
                  <p class="mb-0 text-muted small text-end">{{ "lorem ipsum dolor sit amet consectetur adipisicing elit"|truncateText }}</p>
                </div>
                <div class="icon-item d-flex align-items-center justify-content-center">
                  <i class="bi bi-flag-fill text-white"></i>
                </div>
              </div>
            </div>
            <div class="message-container pt-3">
              <div class="item-message m-auto position-relative">
                <div class="content-item">
                  <h2 class="h6 mb-1 text-end fw-bolder">Sandy Doe</h2>
                  <p class="mb-0 text-muted small text-end">{{ "lorem ipsum dolor sit amet consectetur adipisicing elit"|truncateText }}</p>
                </div>
                <div class="icon-item d-flex align-items-center justify-content-center">
                  <i class="bi bi-flag-fill text-white"></i>
                </div>
              </div>
            </div>
            <div class="message-container pt-3">
              <div class="item-message m-auto position-relative">
                <div class="content-item">
                  <h2 class="h6 mb-1 text-end fw-bolder">Sandy Doe</h2>
                  <p class="mb-0 text-muted small text-end">{{ "lorem ipsum dolor sit amet consectetur adipisicing elit"|truncateText }}</p>
                </div>
                <div class="icon-item d-flex align-items-center justify-content-center">
                  <i class="bi bi-flag-fill text-white"></i>
                </div>
              </div>
            </div>
      </div>

  </div>
  </div>
  
</div>
