.ajustes-container {
  width: 75%;
  max-width: 275px;
  top: 55px;
  left: 0px;
  height: calc(100vh - 72px);
  min-width: 300px;
}

.search-container {
  input::placeholder {
    color: #939393;
  }

  .icon-search {
    left: 5px;
    z-index: 2;
    top: 0;
    bottom: 0;
  }
}

.message-container {
  .item-message {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 25px;
    align-items: center;

    .content-item {
      width: calc(100% - 30px);
      margin-left: auto;
    }

    .icon-item {
      width: 30px;
      height: 30px;
      background-color: green;
    }
  }
}

@media (max-width: 576px) {
  .tercero-mensaje {
    p {
      display: none;
    }
    i {
      font-size: larger !important;
    }
  }
}

.cuarto-mensaje {
  width: 200px;
  background-color: blue;
}

@media (max-width: 992px) {
  .cuarto-mensaje {
    width: 80% !important;
  }
}
