<div class="h-100 bg-dark  sidebar-container" [class.collapsed]="!isActiveParrafo">
    <h4 class="texto-main text-end pe-3 pt-2 fw-bold border-bottom">MENÚ</h4>
    <p class="ps-4 d-flex justify-content-end align-items-center small text-white pe-3" ><span>Inicio</span> <i class=" ps-2 bi bi-house"></i></p>
    <a class=" text-decoration-none" href="app/perfil"><p class="ps-4 d-flex justify-content-end align-items-center small text-white pe-3"><span>Perfil</span> <i class=" ps-2 bi bi-person"></i></p></a>
    <p class="ps-4 d-flex justify-content-end align-items-center small text-white pe-3"><span>Mi Contraseña</span><i class=" ps-2 bi bi-key"></i></p>
    <p class="ps-4 d-flex justify-content-end align-items-center small text-white pe-3"><span>Productos</span> <i class=" ps-2 bi bi-bag"></i></p>
    <a class=" text-decoration-none" href="app/formulario"><p class="ps-4 d-flex justify-content-end align-items-center small text-white pe-3"><span>Formulario</span> <i class=" ps-2 bi bi-file-earmark-text"></i></p></a>
    <p class="ps-4 d-flex justify-content-end align-items-center small text-white pe-3"><span>Cerrar Sesión</span> <i class=" ps-2 bi bi-box-arrow-right"></i></p>
    <p class="ps-4 d-flex justify-content-end align-items-center medium text-white border-top pt-2 pe-3"><span>Redes Sociales </span><i class=" ps-2 bi bi-info-circle"></i></p>
</div>