.apps-container{
    top: 55px;
    left: 120px;
    width: 250px;
    min-width: 250px;
}
.calendario {
    color: blue;
}

.email {
    color: green;
}

.weather {
    color: red;
}

.contact {
    color: grey;
}

.chat {
    color: orange;
}

.map {
    color: red;
}