<div class="slide-down position-absolute apps-container bg-white shadow rounded-3 p-2 mt-3">
    <div class="row mb-2 pt-3">
        <div class="col-4 ">           
                <i class="calendario bi-calendar-check fs-4 d-flex justify-content-center align-items-center"></i>
                <p class="mb-0 text-center text-muted small pt-1">Calendar</p>          
        </div>
        <div class="col-4 ">           
                <i class="email bi bi-envelope-open fs-4 d-flex justify-content-center align-items-center"></i>
                <p class="mb-0 text-center text-muted small pt-1">E-mail</p>          
        </div>
        <div class="col-4">            
                <i class="weather bi bi-cloud fs-4 d-flex justify-content-center align-items-center"></i>
                <p class="mb-0 text-center text-muted small pt-1">Weather</p>
        </div>
    </div>

    <div class="row mb-2 pt-3 d-flex justify-content-center align-items-center">
        <div class="col-4">
                <i class="contact bi bi-person-rolodex fs-4 d-flex justify-content-center align-items-center"></i>
                <p class="mb-0 text-center text-muted small pt-1">Contact</p>
        </div>
        <div class="col-4">
                <i class="chat bi bi-chat fs-4 d-flex justify-content-center align-items-center"></i>
                <p class="mb-0 text-center text-muted small pt-1">Chat</p>
        </div>
        <div class="col-4">
                <i class="map bi bi-map fs-4 d-flex justify-content-center align-items-center"></i>
                <p class="mb-0 text-center text-muted small pt-1">Map</p>
        </div>
    </div>

    <div class="pb-2 border-top mt-3 pt-1">
        <p class="mb-0 text-center text-muted small">Leer todos</p>
    </div>
  
  </div>
  
